/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
/.settings
/attachments
/bitbucket
/subs
/public/install
/public/update
npm-debug.log
.env
.buildpath
.project
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
yarn-error.log
/imdb/cache
/imdb/images
/resources/geoip
.DS_Store
/plugins
auth.json
