/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
/.settings
/attachments
/bitbucket
/subs
/public/install
/public/update
npm-debug.log
.env
.buildpath
.project
.env.backup
.phpunit.result.cache
/playwright-report
/test-results
/playwright/.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
yarn-error.log
/imdb/cache
/imdb/images
/resources/geoip
/resources/upload
.DS_Store
/plugins
auth.json
/.vscode
/.history
/public/dev.php
crowdin.yml
install.lock
dont_delete_install.lock
update.lock
.env.bak
attachments
bitbucket
/public/attachments
/public/bitbucket
