parameters:
	ignoreErrors:
		-
			message: '#^Call to sprintf contains 0 placeholders, 1 value given\.$#'
			identifier: argument.sprintf
			count: 1
			path: app/Jobs/SendLoginNotify.php

		-
			message: '#^Used function Ramsey\\Uuid not found\.$#'
			identifier: function.notFound
			count: 1
			path: app/Models/SocialAccount.php

		-
			message: '#^Class NexusPlugin\\Permission\\Models\\Role not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Class NexusPlugin\\Permission\\Models\\UserPermission not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Models/User.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Instantiated class App\\Providers\\GoogleDriveAdapter not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/GoogleDriveServiceProvider.php

		-
			message: '#^Instantiated class Google_Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/GoogleDriveServiceProvider.php

		-
			message: '#^Instantiated class Google_Service_Drive not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/GoogleDriveServiceProvider.php

		-
			message: '#^Relation ''family'' is not found in App\\Models\\Claim model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Repositories/ClaimRepository.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\NexusModel model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Repositories/CommentRepository.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Forms\\Components\\Fieldset\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/SearchBoxRepository.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Forms\\Components\\Section\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/SearchBoxRepository.php

		-
			message: '#^Method App\\Repositories\\SearchBoxRepository\:\:buildSearchBoxFormSchema\(\) has invalid return type Filament\\Forms\\Components\\Section\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/SearchBoxRepository.php

		-
			message: '#^Instantiated class Google\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/ToolRepository.php

		-
			message: '#^Instantiated class Google\\Service\\Drive not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/ToolRepository.php

		-
			message: '#^Instantiated class Masbug\\Flysystem\\GoogleDriveAdapter not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Repositories/ToolRepository.php

		-
			message: '#^Instantiated class App\\Repositories\\Hashids not found\.$#'
			identifier: class.notFound
			count: 2
			path: app/Repositories/TorrentRepository.php

		-
			message: '#^Method App\\Repositories\\TorrentRepository\:\:getBoughtUserCacheKey\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Repositories/TorrentRepository.php

		-
			message: '#^Undefined variable\: \$category$#'
			identifier: variable.undefined
			count: 2
			path: app/Repositories/TorrentRepository.php

		-
			message: '#^Undefined variable\: \$categoryId$#'
			identifier: variable.undefined
			count: 1
			path: app/Repositories/TorrentRepository.php

		-
			message: '#^Undefined variable\: \$user$#'
			identifier: variable.undefined
			count: 4
			path: app/Repositories/TrackerRepository.php


