img.c_movies
{
background-image: url(icons/电影.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: 0 0;
}
img.c_doc
{
background-image: url(icons/纪录片.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: -50px 0;
}
img.c_anime
{
background-image: url(icons/动漫.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: 0 -50px;
}
img.c_tvseries
{
background-image: url(icons/电视剧.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: -50px -50px;
}
img.c_tvshows
{
background-image: url(icons/综艺.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: 0 -100px;
}
img.c_mv
{
background-image: url(icons/MV.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: -50px -100px;
}
img.c_sports
{
background-image: url(icons/体育.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: 0 -150px;
}
img.c_misc
{
background-image: url(icons/其他.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: -50px -150px;
}
img.c_hqaudio
{
background-image: url(icons/音乐.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: 0 -200px;
}
img.c_playlet
{
background-image: url(icons/短剧.png) !important;
background-size: cover;
width:50px;
height:50px;
background-position: -50px -200px;
}
